body, main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
}

main {
    width: 40%;
    margin-inline: auto;
}

#playAgainBtn {
    display: none;
}

#combatLog {
    line-height: 2rem;
    transform: rotate(180deg);
    list-style: none;
    font-family: "Google Sans Code", monospace;
    text-indent: 2rem;
    font-size: small;

    li {
        transform: rotate(-180deg);
    }
}